
<h1>Our Offices</h1>

<table  class="table table-striped table-hover" >
  <tbody>
    <% @offices.each do |office| %>
      <tr>
        <td><%= link_to office.name, office %></td>
        <td><%= office.address %></td>
        <td><%= office.contact %></td>
        <% if current_user.has_role? :admin %>
            <td><%= link_to 'Edit', edit_office_path(office), :class =>"btn btn-warning" %></td>
            <td><%= link_to 'Remove', office, method: :delete, data: {confirm: 'Are you sure?'}, :class =>"btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.has_role? :admin %>
    <%= link_to 'New Office', new_office_path, :class =>"btn btn-success" %>
<% end %>
