
<p>
  <strong>Name:</strong>
  <%= @office.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @office.address %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @office.contact %>
</p>

<% if current_user.has_role? :admin %>
    <%= link_to 'Edit', edit_office_path(@office) %> |
<% end %>
<%= link_to 'Back', offices_path %>
