
<h1>Authors</h1>

<table  class="table table-striped">
  <tbody>
    <% if @authors.present? %>
      <% @authors.each do |author| %>
          <tr>
            <td><%= link_to author.name, author %></td>
            <% if current_user.has_role? :admin %>
                <td><%= link_to 'Edit', edit_author_path(author), :class=>"btn btn-warning" %></td>
                <td><%= link_to 'Delete', author, method: :delete, data: {confirm: 'Are you sure?'} , :class=>"btn btn-danger"%></td>
            <% end %>
          </tr>
      <% end %>
  <% else %>
      <p>There are no author containing the term "<%= params[:search] %>".</p>
  <% end %>
  </tbody>
</table>

<br>

<% if current_user.has_role? :admin %>
<%= link_to 'New Author', new_author_path, :class=>"btn btn-success"%>
<% end %>