<%= form_for(@borrowing) do |f| %>
  <% if @borrowing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@borrowing.errors.count, "error") %> prohibited this borrowing from being saved:</h2>

      <ul>
      <% @borrowing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <% if current_user.has_role? :admin %>
        <%= f.collection_select(:user_id, User.all, :id, :name) %>
    <% else %>
        <%= f.collection_select(:user_id, User.where(:id => current_user.id), :id, :name) %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :book_id %><br>
    <%= f.collection_select(:book_id, Book.all, :id, :title) %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.date_select :due_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
