
<%if current_user.has_role? :admin%>
<h2>All Borrowings</h2>
    <p>
      In the system, there are <%= @borrowings.count %> active borrowing:
    </p>
<%else%>
<h2>Your Borrowings</h2>
    <p>
      <%= current_user.name%>, you have <%= @borrowings.count %> active borrowing:
    </p>
<%end%>


<table class = "table table-striped table-hover">
  <thead>
  <tr>
    <th>Title</th>
    <th></th>
    <th>Author</th>
    <th></th>
    <th>Due date</th>
    <%if current_user.has_role? :admin%>
        <th>Borrower</th>
        <th colspan="2"></th>
    <% end %>

  </tr>
  </thead>

  <tbody>
    <% @borrowings.each do |borrowing| %>
      <tr>
        <td><strong><%= link_to borrowing.book.title, borrowing.book %></strong></td>
        <td>by</td>
        <td><%= link_to borrowing.book.author.name, borrowing.book.author%></td>
        <td>borrowed to</td>
        <td><%= link_to borrowing.due_date, borrowing %></td>
        <%if current_user.has_role? :admin%>
            <td><%=  link_to borrowing.user.name, borrowing.user  %></td>
          <td><%= link_to 'Edit', edit_borrowing_path(borrowing), :class => "btn btn-warning" %></td>
          <td>
              <%= link_to 'Return', borrowing, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-success" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Borrowing', new_borrowing_path %>
